$bg-color: #131721;
$color-white: #ffffff;
$color-gray: #a0a3af;
$color-orange: #e7ab21;
$color-black: #252424;
$color-green: #38ada9;
$font-family: "Helvertica neue";
$font-size-14px: 14px;
@mixin CSSlogin($font-size: 14px, $line-height: 20px) {
  font-size: $font-size;
  line-height: $line-height;
}
@mixin CSSbtn(
  $max-width: 395px,
  $width: 100%,
  $padding: 16px 0px,
  $boder-radius: 10px,
  $cursor: pointer
) {
  max-width: $max-width;
  width: $width;
  padding: $padding;
  border-radius: $boder-radius;
  cursor: $cursor;
}
@mixin CSShover($color: #c4e538) {
  color: $color;
  font-size: 16x;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  width: 100%;
  max-width: 1920px;
  // margin: 0 auto;
  // height: 100vh;
}

.wrap-login {
  display: flex;
  flex-direction: column;
  background-image: url(../img/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  // padding: 67px 56px 67px 56px;
  height: 100vh;
  .flex-login {
    display: flex;
  }

  // flex50-left
  .flex50-left {
    width: 40%;
    padding-top: 60px;
    padding-left: 56px;
    .logo-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 105px;
      padding-left: 20px;
      .navi-logo {
        display: flex;
        justify-content: flex-start;
        max-width: 100px;
        a {
          text-decoration: none;
          img {
            height: 100%;
            width: 100%;
            cursor: pointer;
          }
        }
      }
      p {
        margin-top: 34px;
        font-family: $font-family;
        font-size: 12px;
        color: $color-gray;
        line-height: 16px;
        max-width: 534px;
        width: 100%;
        padding-right: 58px;
      }
    }
    .img-banner {
      max-width: 635px;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

//flex50-right
.flex50-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 185px;
  .box-login {
    max-width: 395px;
    width: 100%;
    &__logo {
      padding: 5px 0px;
      font-size: 32px;
      line-height: 25px;
      margin-bottom: 55px;
      color: $color-white;
    }
    &__logo:hover {
      color: #c4e538;
      font-size: 34px;
    }
    &__account,
    &__password {
      @include CSSlogin();
      color: $color-gray;
      margin-bottom: 8px;
    }

    &__account:hover,
    &__password:hover {
      @include CSShover();
    }

    &__acc,
    &__pass {
      input {
        @include CSSbtn();
        background-color: #313645;
        padding-left: 16px;
        color: $color-white;
        font-size: $font-size-14px;
        outline: none;
        border: none;
      }
      input:hover {
        background-color: #b2bec3;
      }
    }

    &__acc {
      margin-bottom: 16px;
    }

    &__pass {
      margin-bottom: 25px;
      display: flex;
      align-items: center;
    }

    &__btn {
      a {
        display: block;
        text-decoration: none;
        color: $color-black;
        font-family: $font-family;
        button {
          @include CSSbtn();
          background-color: $color-orange;
          text-align: center;
          margin-bottom: 25px;
          font-size: 16px;
          font-weight: 700;
          border: none;
          outline: none;
        }
        button:hover {
          background-color: $color-white;
          color: $color-black;
        }
      }
    }
    .forgot-pass {
      margin-bottom: 20px;
      a {
        color: $color-gray;
        margin-bottom: 25px;
        font-size: $font-size-14px;
        text-decoration: none;
      }
      a:hover {
        @include CSShover();
      }
    }
    span {
      color: $color-gray;
      font-size: $font-size-14px;
      a {
        color: $color-orange;
        text-decoration: none;
        font-size: $font-size-14px;
      }
      a:hover {
        color: $color-white;
      }
    }
    span:hover {
      @include CSShover();
    }
  }
}

.box-support::before {
  content: "";
  width: 10%;
}
.box-support {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
  .support__detail {
    display: flex;
    padding-right: 208px;
    a {
      text-decoration: none;
      color: $color-gray;
      padding: 0px 20px;
    }
  }
}

// .box-support::before {
//   content: "";
//   width: 10%;
// }

// .box-support {
//   padding: 80px 0px 5px 0px;
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   .box-support__detail {
//     display: flex;
//     padding-right: 100px;
//     div {
//       font-size: $font-size-14px;
//       a {
//         text-decoration: none;
//         color: $color-gray;
//         line-height: 20px;
//       }
//       a:hover {
//         @include CSShover();
//       }
//     }
//     div:nth-child(2),
//     div:nth-child(3) {
//       margin-left: 40px;
//     }
//   }
// }

// responsive
// // laptop
// @media only screen and (min-width: 1200px) {
// }

// @media only screen and(max-width:1189px) {
//   .box-support {
//     .box-support__detail {
//       display: flex;
//       padding-right: 180px;
//     }
//   }
//   .box-support::before {
//     content: "";
//     width: 5%;
//     padding-left: 180px;
//   }
// }

// @media only screen and(max-width:1066px) {
//   .box-support {
//     .box-support__detail {
//       display: flex;
//       padding-right: 100px;
//     }
//   }
//   .box-support::before {
//     content: "";
//     width: 5%;
//     padding-left: 100px;
//   }
// }

// @media only screen and(max-width:991px) {
//   .wrap-login {
//     position: relative;
//     .flex-login {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       margin: 50px 0px;
//       .flex50-left {
//         width: 0%;
//         .logo-box {
//           .navi-logo {
//             position: absolute;
//             top: 20px;
//             left: 50px;
//             a {
//               max-width: 50px;
//             }
//           }
//           p {
//             display: none;
//           }
//         }
//         .img-banner {
//           display: none;
//         }
//       }
//       .flex50-right {
//         max-width: 360px;
//         width: 100%;
//         .box-login {
//           &__logo {
//             margin-bottom: 45px;
//           }
//         }
//       }
//     }
//   }
//   .box-support {
//     display: none;
//   }
// }

// @media only screen and(max-width: 767px) {
//   .flex50-right {
//     .box-login {
//       max-width: 300px;
//       &__logo {
//         font-size: 30px;
//       }
//       &__acc,
//       &__pass {
//         input {
//           padding: 14px 0px;
//           padding-left: 16px;
//         }
//       }
//       &__btn {
//         a {
//           button {
//             padding: 14px 0px;
//           }
//         }
//       }
//     }
//   }
// }

// MARKET PAGE
.container-fluid {
  .header-wrap {
    // background-color: $bg-color;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
  }
}
.header-left {
  &__content {
    display: flex;
    padding: 20px 0px;
    &--logo {
      display: flex;
      align-items: center;
      a {
        cursor: pointer;
        display: flex;
        align-items: center;
        .lg-name {
          margin-left: 12px;
        }
      }
    }
    &--navigation {
      padding-left: 50px;
      .navbar {
        display: flex;
        margin: 0px;
        li {
          list-style: none;
          display: flex;
          align-items: center;
          padding: 0px;
          a {
            text-decoration: none;
            color: $color-gray;
            font-size: $font-size-14px;
            padding: 0px 16px;
          }
        }
      }
    }
  }
}

// header-right
.header-right {
  display: flex;
  align-items: center;
  .flex-center {
    display: flex;
    align-items: center;
  }
  .account {
    display: flex;
  }
}
